body {
  padding: 0 10vw;
}

main {
  text-align: justify;
}

.aside-content {
  width: 30%;
  padding: 0 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  background-color: lightblue;
}
